.frame {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #e5e5e5;
}
.main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    background-color: white;
}
.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.main_frame .middle_frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.main_frame .right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.main_frame .left_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .main_frame .marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;
    border: 1.5px solid #f0f0f6;
}
.main_frame .left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
}
.main_frame .left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-left: 45px;
}
.main_frame .left_4 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-top: 25px;
    margin-left: 45px;
}
.main_frame .left_5 {
    position: relative;
    width: 186px;
    height: 148px;
    margin-top: 25px;
    margin-left: 45px;
}

.main_frame .left_1-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
    margin-bottom: 29.46px;
}
.main_frame .left_1-2 {
    position: relative;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 126.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #2b2b2b;
}
.main_frame .left_1-3 {
    /* heart */
    width: 147.84px;
    height: 24.31px;
    font-family: Inter;
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #767676;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_href {
    text-decoration: none;
    color: black;
}
.icon {
        /* Dribbble */
    width: 24.99px;
    height: 22.8px;
    border-radius: 50%;
    /* background: #FFB400; */
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }
.icon-1 {
    position: relative;
    left: 29.17%;
    right: 27.08%;
    margin-top: 5.86px;
}
.left-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* Social Icon */
    width: 228px;
    height: 19px;
    margin-top: 17px;
}
.left_2 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.left_2 .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info .name {
    /* Residence: */

height: 24px;
font-family: Inter;
font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-transform: capitalize;
background-color: rgba(255, 180, 0, 1);
padding: 0 5px 0 5px;
}
.info .name-info {
    /* 24 */
height: 24px;
font-family: Inter;
font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-transform: capitalize;
}
.info .green {
    cursor: none;
    text-decoration: none;
    color: rgba(126, 185, 66, 1);
}
.left_3 .skill-title {
  display: flex;
  justify-content: space-between;
  font-family: Inter;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: rgba(118, 118, 118, 1);
}

.left_3 .circle {
  border: 1px solid #ffb400;
border-radius: 5px;
}
.left_3 .progress-bar {
    margin: 1px;
  height: 2px;
  background:  #ffb400 !important;  
  border-radius: 5px;
}
.extra-skills {
    list-style: none;
    display: list-item !important;
    text-align: left;
    padding: 0 !important;
}
.extra-skills li {
    margin-bottom: 5px;
}
.extra-skills img{
    margin-right: 15px;
}
.middle_frame .top{
    margin-left: 56px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.middle_frame .left {
     margin-top: 99px;
}
.middle_frame .left h1{
/* Doctor neurologists in OHSU Hospital */
    width: 499.51px;
    height: 116.74px;
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    color: black;
    margin-bottom: 17px;
}
.middle_frame .left p {
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus. */
    width: 424.44px;
    height: 85.61px;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    color: rgba(118, 118, 118, 1);
    margin-bottom: 22px;
}
 .middle_frame .right {
    padding-left: 56px;
 }
 .middle_frame button {
/* Button/Book Me */
width: 154px;
height: 51px;
/* Auto layout */
display: flex;
align-items: center;
column-gap: 10px;
padding: 16px 32px 16px 32px;
color: black;
background-color:  rgba(255, 180, 0, 1);
border: none;
border-radius: 5px;
 }
 .middle_frame button img {
    position:  relative !important;
 }
 .middle_frame .top img{
    position: absolute;
 }
 .middle_frame .yellov-1 {
    right: 380px;
    bottom: 10px;
 }
 .middle_frame .green-img {
    left: 30px;
    bottom: -40px;
 }
 .middle_frame .rectangle {
    left: 300px;
    bottom: 40px;
 }
 .middle_frame .rectangleyellow {
    right: 10px;
    top: 60px;
 }
 .middle_frame .polygon {
    right: 10px;
    bottom: -40px;
 }
 .middle_frame .green-1 {
    right: 420px;
    top: 40px;
 }
 .middle_frame .bottom {
    padding-top: 139px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 26px;
 }
 .middle_frame .bottom h1 {
    /* my services */
    width: 193px;
    height: 39px;
    font-family: Inter;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: black;
 }
 .middle_frame .bottom p {
/* Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum */
    width: 438px;
    height: 68px;
    font-family: Inter;
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #767676;
    margin-bottom: 30px;
 }
 .middle_frame .cards {
    display: flex;
   flex-wrap: wrap;
   row-gap: 80px;
 }
 .middle_frame .cards h3{
    font-family: Inter;
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
 }
 .middle_frame .card img{
    /* Vector */
    width: 74px;
    height: 69.38px;
 }
 
  .middle_frame .card {
    /* Web development */
    width: 310px;
    height: 225px;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
  }

.order {
    display: flex;    
    align-items: center;
    gap: 8px;                  
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}
.order img {
   /* Vector */
width: 4.71px !important;
height: 7.07px !important; 
}
.right_frame {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.right_frame .mode {
    margin-top: 52px;
    margin-bottom: 177px;
}
.right_frame .pages{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 50px;
}